version: '3'
services:
  app:
    build: flask
    volumes:
      - ./flask:/app
    ports:
      - "5000:5000"
    command: python3 -m flask run --host=0.0.0.0 -p 5000 --debugger
  proxy:
    build: nginx
    restart: always
    ports:
      - 81:80
    depends_on:
      - app
